body {
    margin: auto;
    position: relative;
}
 p, li, h3 {
    font-family: $font-text;
 }

 h1, h2 {
    font-family: $font-title;
 }

 li {
    list-style: none;
 }

 .width-limit {
   max-width: 1440px;
 }