$color-primary: #0f1329;

$font-title: 'Exo', sans-serif;
$font-text: 'PT Sans', sans-serif;

$minbreakpoint-small: 320px;
$maxbreakpoint-small: 767px;
$minbreakpoint-medium: 768px;
$maxbreakpoint-medium: 1023px;
$minbreakpoint-large: 1024px;